@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Colors Hover */
.section-titleColor {
  display: inline-block;
  position: relative;
  background: linear-gradient(to right bottom, #fd4d3e, #fe315c, #f61a7a, #e51b97, #c830b3);
  font-size: 2rem;
  padding: 5px;
  border-top-left-radius: 10px;
  color: white;
}
@media screen and (min-width: 1000px) {
  .section-titleColor {
    font-size: 2.4rem;
    margin-bottom: 100px;
  }
}

body {
  font-family: "Montserrat";
  font-size: 10px;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
@media screen and (min-width: 1000px) {
  .header {
    padding-right: 60px;
  }
}
.header__burger {
  position: relative;
  z-index: 10;
  width: 40px;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .header__burger {
    display: none;
  }
}
.header__burger::before, .header__burger::after, .header__burger div {
  background-color: #4c4486;
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.header__burger--active::before, .header__burger--active::after, .header__burger--active div {
  background-color: white;
}
.header__burger--active::before {
  transform: translateY(12px) rotate(135deg);
}
.header__burger--active::after {
  transform: translateY(-12px) rotate(-135deg);
}
.header__burger--active div {
  transform: scale(0);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to left bottom, #7d62f2, #7f65ee, #8168ea, #836ae6, #856de2, #8a6cdc, #8f6bd6, #936ad0, #9a65c7, #9f60be, #a45bb5, #a757ac);
  list-style-type: none;
}
@media screen and (min-width: 1000px) {
  .menu {
    position: unset;
    flex-direction: row;
    gap: 5rem;
    background: transparent;
    height: 100%;
    transform: translateX(0);
    width: -moz-max-content;
    width: max-content;
  }
}
.menu--active {
  transform: translateX(0);
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu__link {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}
@media screen and (min-width: 1000px) {
  .menu__link {
    color: #4c4486;
    font-weight: normal;
    font-size: 1.5rem;
  }
  .menu__link--contact {
    color: white;
    background: linear-gradient(to left bottom, #7d62f2, #7f65ee, #8168ea, #836ae6, #856de2, #8a6cdc, #8f6bd6, #936ad0, #9a65c7, #9f60be, #a45bb5, #a757ac);
    padding: 5px 25px;
    border-radius: 15px;
  }
  .menu__link--contact::after {
    display: none;
  }
  .menu__link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #4c4486;
    transition: all 0.2s ease-in-out;
  }
  .menu__link:hover::after {
    width: 100%;
  }
}

.home {
  margin: 35px auto 0 auto;
}
@media screen and (min-width: 1000px) {
  .home {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    align-items: center;
    width: -moz-max-content;
    width: max-content;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1200px) {
  .home {
    gap: 80px;
  }
}
.home__img {
  display: block;
  width: 75%;
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  .home__img {
    max-width: 550px;
    width: 60%;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1200px) {
  .home__img {
    width: 100%;
    max-width: 650px;
  }
}
@media screen and (min-width: 1000px) {
  .home__info {
    transform: translateY(-50%);
  }
}
.home__name {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #26224b;
}
@media screen and (min-width: 1200px) {
  .home__name {
    font-size: 4rem;
  }
}
.home__proffesion {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4c4486;
}
@media screen and (min-width: 1200px) {
  .home__proffesion {
    font-size: 1.5rem;
  }
}
.home__links {
  display: flex;
  gap: 5px;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto 0 auto;
  background: linear-gradient(to left bottom, #7d62f2, #7f65ee, #8168ea, #836ae6, #856de2, #8a6cdc, #8f6bd6, #936ad0, #9a65c7, #9f60be, #a45bb5, #a757ac);
  border-radius: 10px;
  padding: 5px 10px;
}
.home__icon {
  cursor: pointer;
}
.home__slider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 30px auto 0 auto;
  width: 18px;
  height: 50px;
  border: 1px solid #4c4486;
  background-color: transparent;
  border-radius: 10px;
}
@media screen and (min-width: 1000px) {
  .home__slider {
    display: none;
  }
}
.home__slider::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(to left bottom, #7d62f2, #7f65ee, #8168ea, #836ae6, #856de2, #8a6cdc, #8f6bd6, #936ad0, #9a65c7, #9f60be, #a45bb5, #a757ac);
  animation: slide 0.6s infinite alternate-reverse ease-in-out;
}
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

.projects {
  margin-top: 100px;
}
.projects__title {
  text-align: center;
  font-weight: bold;
  color: #4c4486;
}
.projects__title-span {
  font-size: 1.3rem;
}
@media screen and (min-width: 1000px) {
  .projects__title-span {
    font-size: 1.8rem;
  }
}
.projects__cards {
  display: grid;
  margin: 0 20px;
}
@media screen and (min-width: 1000px) {
  .projects__cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__cards {
    width: 75%;
    margin: 0 auto;
  }
}

.card {
  width: 70%;
  margin: 50px auto 0 auto;
  box-shadow: 0px 0px 7px -4px rgb(200, 200, 200);
  padding: 10px 5px;
}
@media screen and (min-width: 600px) {
  .card {
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  .card {
    margin: 0px auto;
  }
}
.card__img {
  display: block;
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 750px) {
  .card__img {
    width: 60%;
  }
}
.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.card__title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #4c4486;
  border-bottom: 1px solid black;
  padding-right: 1.2rem;
}
@media screen and (min-width: 1000px) {
  .card__title {
    font-size: 1.3rem;
  }
}
.card__link {
  display: block;
  width: 1.2rem;
}
.card__link img {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .card__link {
    width: 1.3rem;
  }
}
.card__description {
  font-size: 0.8rem;
  line-height: 1.1rem;
  padding-bottom: 5px;
}
@media screen and (min-width: 1000px) {
  .card__description {
    font-size: 0.9rem;
  }
}
.card__tech {
  font-weight: bold;
  color: #4c4486;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  width: -moz-max-content;
  width: max-content;
  padding-right: 2rem;
}
@media screen and (min-width: 1000px) {
  .card__tech {
    font-size: 0.9rem;
  }
}
.card__icons {
  padding-top: 5px;
  display: flex;
  gap: 8px;
}
.card__icon {
  width: 25px;
}

.about {
  margin-top: 100px;
}
.about__title {
  text-align: center;
  font-weight: bold;
  color: #4c4486;
}
.about__title-span {
  font-size: 1.3rem;
}
@media screen and (min-width: 1000px) {
  .about__title-span {
    font-size: 1.8rem;
  }
}
.about__content {
  margin: 50px auto 30px auto;
  width: 80%;
  text-align: justify;
}
.about__description {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4c4486;
  margin-bottom: 20px;
}
.about__quote {
  font-size: 0.9rem;
  color: rgb(139, 139, 139);
}
.about__img {
  display: block;
  width: 75%;
  max-width: 550px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */